[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
streamlit = "*"
seaborn = "*"
matplotlib = "*"
sklearn="*"
wordcloud==1.7.0
joblib==0.16.0
plotly==4.8.0


[requires]
python_version = "3.6"
